.app{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}
.bg-container{
  justify-content: center;
  display: flex;
  position: relative;
}
.bg-container h1{
  font-size: 3.5vw;
}
.bg{
  width: 100%;
  object-fit: cover;
}
.bg-content{
  margin-top: 150px;
  text-align: center;
  width: 70%;
  color: white;
  position: absolute;
  /* animation: bgMove 2s; */
}
@keyframes bgMove {
  from {top: 100px;}
  to {top: 0px;}
}
.bg-content p {
  font-size: 2vw;
  display: flex;
}
.banner-container{
  align-items: center;
  display: flex;
  position: relative;
  font-size: 10vw;
}
.bg-banner{
  width: 100%;
  margin-top: 40px;
}
.banner-content{
  right: 15%;
  margin-top: 150px;
  width: 40%;
  text-align: right;
  color: white;
  position: absolute;
  /* animation: bgMove 2s; */
}
.banner-content h1{
  font-size: 4vw;
  text-transform: capitalize;
}
.banner-content p {
  font-size: 2.5vw;
}
.col-container{
  padding: 50px 200px;
  display: flex;
}
.col-1 {
  padding: 0 10px;
  flex: 1;
  text-align: center;
}
.col-1 h4{
  margin: 16px;
  font-size: 36px;
  font-weight: 400;
}
.col-1 p{
  margin-top: 0;
  font-size: 20px;
}
.col-1-img{
  width: 100%;
}
.col-2-img{
  width: 92%;
}
.grid-container{
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}
.grid-item{
  display: flex;
  margin: 20px 0;
}
.grid-image{
  width: 50%;
}
.grid-content{
  padding: 40px 0;
}
.grid-content h1{
  font-size: 48px;
}
.grid-content p{
  font-size: 28px;
}
.grid-item:nth-child(even){
  text-align: left;
  flex-direction: row-reverse;
}
.grid-item:nth-child(odd){
  text-align: right;
}
.slider-container{
  margin: 0 auto;
  width: 74%;
  margin-bottom: 50px;
}
@media only screen and (max-width: 1200px) {
  .grid-container {
    margin: 0 10%;
  }
}

@media only screen and (max-width: 800px) {
  .grid-container {
    margin: 0 5%;
  }
  .col-container{
    padding: 0;
    margin: 10px;
  }
  .col-1 p{
   font-size: 4.5vw;
  }
  .col-1 h4{
    font-size: 6.2vw;
  }
  .banner-content{
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .grid-container {
    margin: 0 3%;
  }
  .makeStyles-root-1{
    width: 90%;
    margin: 0 auto;
  }
 
}
@media only screen and (max-width: 500px) {
  .grid-container {
    margin: 0 0%;
  }
  .grid-image {
    width: 60%;
  }
  .grid-content p {
    font-size: 4.5vw;
  }
  .grid-content h1{
    font-size: 6.2vw;
  }
  .bg-content {
    margin-top: 42px;
  }
}


